@use "global/colors" as c;
@use "global/mixin" as m;

/* HEADER */

.header {
  background-color: c.$green;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: c.$white;
  padding: 2rem;
  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__container--title {
  h1 {
    text-align: center;
  }
  @include m.tablet {
    h1 {
      align-items: center;
      margin-bottom: 0;
    }
  }
}
.header__container--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  a {
    color: c.$white;
    font-size: 2.4rem;
    &:hover,
    &.focus {
      color: c.$yellow;
    }
  }
  @include m.tablet {
    display: flex;
    flex-direction: row;
  }
}

@include m.tablet {
  .fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: .1rem .2rem .3rem #333;
  }
}
