@use "global/colors" as c;
@use "global/mixin" as m;
/* TICKETS */

.ticket {
  background-color: c.$green;
  .ticket-title {
    text-transform: uppercase;
    color: c.$white;
  }
}

.ticket__sale {
  @include m.tablet{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

.ticket__day {
  .ticket__day--title {
    color: c.$white;
    font-size: 3.6rem;
    font-weight: 900;
    text-align: center;
  }
}

.ticket__dayInclude {
  display: block;
  background-color: c.$white;
  padding-bottom: 2rem;
  .ticket__dayInclude--title {
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2rem;
    background-color: c.$pink;
    color: c.$white;
    margin: 0;
  }
  .ticketInclude--details {
    list-style: none;
    padding-left: 0;
    li{
      font-size: 2rem;
      padding: 2rem;
      border-bottom: .1rem solid c.$gray;
    }
  }
  .ticketInclude--cost {
    background-color: c.$purple;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 900;
    color: c.$white;
    margin: auto 2rem;
    padding: 2rem;
    border-radius: 2rem;
    &:hover {
      cursor: pointer;
      background-color: c.$darkPurple;
    }
  }
  &:hover{
    transform: scale(1.1);
  }
}
